body {
  height: 100vh;
}
.container {
  width: 100%;
  height: calc(100vh - 110px);
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 5vh 5vw;
}
.col {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.col:first-child {
  width: 65%;
}
.col:last-child {
  width: calc(35% - 50px);
}
.chat {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1024px) {
  .col:last-child {
    width: calc(35% - 30px);
  }
}
@media screen and (max-width: 768px) {
  body {
    height: auto;
  }
  .container {
    flex-direction: column-reverse;
    padding: 0 20px;
    height: auto;
    gap: 10px;
  }
  .col:first-child,
  .col:last-child {
    width: 100%;
  }
  .col:last-child {
    height: 32vh;
  }
}
