/* ---------- Fog ---------- */
.fogwrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  -webkit-filter: blur(1px) grayscale(0.2) saturate(1.2) sepia(0.2);
  filter: blur(1px) grayscale(0.2) saturate(1.2) sepia(0.2);
}
.fog {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.fog > div {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.fog:nth-child(1) {
  animation: foglayer_01_opacity 40s linear infinite,
    foglayer_01_move 40s linear infinite;
}
.fog:nth-child(2),
.fog:nth-child(3) {
  animation: foglayer_02_opacity 40s linear infinite,
    foglayer_02_move 40s linear infinite;
}

.image01 {
  background: url("https://raw.githubusercontent.com/danielstuart14/CSS_FOG_ANIMATION/master/fog1.png")
    center center/cover no-repeat transparent;
}
.image02 {
  background: url("https://raw.githubusercontent.com/danielstuart14/CSS_FOG_ANIMATION/master/fog2.png")
    center center/cover no-repeat transparent;
}

@keyframes foglayer_01_opacity {
  0% {
    opacity: 0.1;
  }
  22% {
    opacity: 0.5;
  }
  40% {
    opacity: 0.28;
  }
  58% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.16;
  }
  100% {
    opacity: 0.1;
  }
}

@keyframes foglayer_02_opacity {
  0% {
    opacity: 0.5;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.1;
  }
  80% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes foglayer_01_move {
  0% {
    width: 100%;
  }
  50% {
    width: 150%;
  }
  80% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}
@keyframes foglayer_02_move {
  0% {
    width: 150%;
  }
  50% {
    width: 100%;
  }
  80% {
    width: 150%;
  }
  100% {
    width: 150%;
  }
}

@media only screen and (min-width: 280px) and (max-width: 767px) {
  .fog > div {
    width: 100%;
  }
}
