.container {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.contentWrapper {
  color: #fff;
  position: relative;
  font-size: 18px;
  top: 70px;
}
