.container {
  padding: 0 5vw;
  min-height: 91vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  width: 65%;
}
.title {
  font-family: "Montserrat";
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  font-size: 64px;
}
.title span {
  font-family: "Montserrat";
  text-shadow: 0px 0px 2px #fff;
  -webkit-text-stroke: 0.8px #fff;
  color: #111;
}
.subtitle {
  font-size: 22px;
  color: #fff;
  font-family: "Montserrat";
  width: 70%;
  text-align: justify;
}
.button {
  padding: 12px 60px;
  border: 2px solid #fff;
  border-radius: 4px;
  font-size: 36px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.4px;
  width: min-content;
  transition: 0.3s;
}
.button:hover {
  background-color: #fff;
  color: #000;
}

@media screen and (max-width: 1440px) {
  .container {
    gap: 20px;
  }
  .title {
    font-size: 50px;
  }
  .subtitle {
    font-size: 20px;
  }
  .button {
    font-size: 32px;
    padding: 10px 54px;
  }
}
@media screen and (max-width: 1280px) {
  .container {
    gap: 15px;
  }
  .title {
    font-size: 45px;
  }
  .subtitle {
    font-size: 18px;
  }
  .button {
    font-size: 30px;
  }
}
@media screen and (max-width: 1100px) {
  .title {
    font-size: 40px;
  }
  .subtitle {
    font-size: 17px;
  }
  .button {
    font-size: 28px;
    padding: 8px 40px;
  }
}
@media screen and (max-width: 1000px) {
  .container {
    width: 100%;
    gap: 20px;
  }
  .title {
    font-size: 50px;
  }
  .subtitle {
    width: 100%;
    font-size: 22px;
  }
  .button {
    font-size: 32px;
    padding: 10px 45px;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 45px;
  }
  .subtitle {
    font-size: 20px;
  }
  .button {
    font-size: 30px;
  }
}

@media screen and (max-width: 560px) {
  .title {
    font-size: 42px;
  }
  .subtitle {
    font-size: 19px;
  }
  .button {
    font-size: 28px;
  }
}

@media screen and (max-width: 400px) {
  .title {
    font-size: 40px;
  }
  .subtitle {
    font-size: 18px;
  }
  .button {
    font-size: 26px;
  }
}
@media screen and (max-width: 375px) {
  .title {
    font-size: 36px;
  }
}
@media screen and (max-width: 335px) {
  .title {
    font-size: 34px;
  }
}
