.container {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalWrapper {
  position: absolute;
  bottom: 60px;
  right: 50px;
}
.modal {
  position: relative;
  bottom: 30px;
  right: 30px;
}
.modalBtn {
  width: 60px;
  height: 60px;
  background: transparent;
  border: none;
  cursor: pointer;
  border: 3px solid #fff;
  border-radius: 50px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.modalIcon {
  width: calc(100% - 10px);
  height: 100%;
  color: #d0d0d0;
}
