.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.title {
  font-size: 44px;
  color: #fff;
  font-family: "Comfortaa";
  margin-bottom: 30px;
}
.row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 40px;
}

@media screen and (max-width: 1024px) {
  .title {
    font-size: 36px;
    margin-bottom: 20px;
  }
}
