.header {
  padding: 20px 50px;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.navigation {
  min-width: 400px;
  width: 40%;
}
.logoWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  width: 250px;
}
.titleWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
.icon {
  color: #fff;
  width: 48px;
  height: 48px;
}
.subtitle,
.title {
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #fff;
  margin-top: 10px;
}
.title {
  font-size: 42px;
  font-family: "Comfortaa";
}
.link {
  text-decoration: none;
}
